	<style type="text/css" media="screen">
		#seating_chart_panel{
			background-color: black;
			width: 1300px;
		}
		.side{
			float: left;
			margin-left: 10px;
			margin-right: 10px;
		}
		.clear{
			clear: both;
		}
		.row{
			float: left;
			margin-bottom: 15px;
			background-color: black;
			padding: 2px;
			
		}
		.seat{
			float: left;
			width: 145px;
			height: 100px;
			margin-left: 2.5px;
			margin-right: 2.5px;
			background-color: grey;
		}
	</style>


<h1> Welcome to the Seating Chart </h1>


<% counter = 1 %>
<div id="seating_chart_panel">
	<% for i in 1..2 %>
		<div class="side">
			<% for i in 1..4 %>
				<div class="row">
					<% for i in 1..4 %>
						<div class="seat">
								<div class="seat<%=counter%>">
								<% @seats.each do |seat| %>
										<% if seat.seat_number == counter %>
											#<%= seat.seat_number%>
											<% if seat.taken?%>
												<%= seat.assigned_student %>
													<% if user_signed_in? %>
														<% if  current_user.email == seat.assigned_student %>
															<%= form_for( :seat, :url => {:action => 'update', :id => seat.id} ) do |f| %>
																<%= f.hidden_field( :taken, :value=> false ) %>
																<%= f.hidden_field( :assigned_student, :value => " " ) %>
																<%= submit_tag("Leave Seat") %>		
															<% end %>
														<% end %>
													<% end %>
											<% else %>
												<% if user_signed_in? %>
														<% studentLogedHasSeatAlready = false %>
														<% @seats.each do |s| %>
															<% if s.assigned_student == current_user.email %>
																<% studentLogedHasSeatAlready = true %>
															<% end %>
														<% end %>
														<% if not studentLogedHasSeatAlready%>
															<%= form_for( :seat, :url => {:action => 'update', :id => seat.id} ) do |f| %>
																<%= f.hidden_field( :taken, :value=> true ) %>
																<%= f.hidden_field( :assigned_student, :value => current_user.email ) %>
																<%= submit_tag("Assign Seat") %>
															<% end %>
														<% end %>
												<% end %>
											<% end %>
										<% end %>							   
								 <% end %>
								</div>
								<% counter = counter + 1 %>
						</div>
					<% end %>
				</div>
				<div class="clear"></div>
			<% end %>	
		</div>
	<% end %>
</div>