<script>
	$(document).ready(function(){
		$('.leave_seat').hide();
	}); 
</script>

<% counter = 1 %>
<div id="seating_chart_panel" class="round">
	<% for i in 1..2 %>
		<div class="side">
			<% for i in 1..4 %>
				<div class="row">
					<% for i in 1..4 %>
						<div class="seat">
								<div class="seat<%=counter%>">
								<% @seats.each do |seat| %>
										<% if seat.seat_number == counter %>
											#<%= seat.seat_number%>
												
												<% if user_signed_in? %>
													<% if seat.assigned_student == current_user.email %>
														<script>
															$(document).ready(function(){
																$('.assign_seat').hide();
																
																$('#leaveSeat<%= counter%> form').show();
																
															}); 
															
															
														</script>
													<% end %>
  												<script>												
  													$('#assign_submit<%=counter%>').live('click', function(){
  													  var self = $(this);
														console.log($(this).parent());
  														$(this).parent().ajaxSubmit({
                                							type: 'PUT',
  															success: function() {
                                  								$('.assign_seat').hide();
                                  								console.log(self);
  																self.parent().parent().find('form').first().show();
  																$('#assigned_student<%=counter%> em').replaceWith("<em><%= current_user.email %></em>");
  															}
  														});
  														return false;
  													});
													</script>
													
													<script>
													
  													$('#leave_submit<%=counter%>').live('click', function(){
  														$(this).parent().ajaxSubmit({
  															type: 'PUT',
  															success: function(){
  															  $('.leave_seat').hide();
  																$('.assign_seat').show();
  																$('#assigned_student<%=counter%> em').replaceWith("<em> </em>");
  															}
  														});
  														return false;
  													});	
  												</script>
												<% end %>
												<div id="assigned_student<%=counter%>"><em><%= seat.assigned_student %></em></div>
													<% if user_signed_in? %>
													
														<div id="leaveSeat<%= counter%>">
														<%= form_for seat, :html => { :class => 'leave_seat' } do |f| %>
														  <%= hidden_field_tag 'taken', 'false' %>
														  <%= hidden_field_tag 'assigned_student', " " %>
														  <%= submit_tag "Leave Seat", :id => "leave_submit#{counter}" %>
														<% end %>
														</div>
														
														<%= form_for seat, :html => { :class => 'assign_seat' } do |f| %>
														  <%= hidden_field_tag 'taken', 'true' %>
														  <%= hidden_field_tag 'assigned_student', "#{current_user.email}" %>
														  <%= submit_tag "Assign Seat", :id => "assign_submit#{counter}" %>
														<% end %>
														
													<% end %>
										<% end %>							   
								 <% end %>
								</div>
								<% counter = counter + 1 %>
						</div>
					<% end %>
				</div>
				<div class="clear"></div>
			<% end %>	
		</div>
	<% end %>
</div>